.logomenu{
    display: flex;
    gap: 10px;
    justify-content: space-between;
   align-items: center;
  background-color: #1d1d1d;
   
}

.custom-logo{

    max-width: 70px;
    max-height: 70px;
}

.menu_left{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;

}


.menu-entete-container {


    .menu { //ul
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #1d1d1d;
    

        .menu-item { // li
            float: left;
            border-right:1px solid #bbb;

            a{
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            a:hover:not(.active) {
                background-color: #858988;
            }
           
        }

    }
    .active {
    background-color: #333;
    }
    .menu:last-child {
        border-right: none;
    } 


}

