footer {
  background-image: linear-gradient(to bottom, #ffffff00, #000000);
  color: #436fa4;
  padding: 20px;
  
}

.container {
 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-content: center;
  width: 100%;


   @media screen and (min-width:565px) {
/*         flex-direction: row;
        align-items:center;
        justify-content: flex-end;
        flex: 1; */
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%; 
         flex: 1;       
    }
}

.column {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  
  margin-bottom: 10px;
 @media screen and (min-width:768px) {
  width: 23%;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;

   } 
}

footer h4 {
  margin-top: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: #bababa;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
hr{
    width: 100%;
}

.invisible{
  display: none;
}
